# Confluent Kafka (free tier at confluent.io)
KAFKA_BOOTSTRAP_SERVERS=pkc-xxxxx.us-east-1.aws.confluent.cloud:9092
KAFKA_API_KEY=your_confluent_api_key
KAFKA_API_SECRET=your_confluent_api_secret
KAFKA_TOPIC=clickstream_events

# GCP
GCP_PROJECT_ID=clickstream-analytics-500715
BQ_DATASET_BRONZE=bronze
GCS_BUCKET=clickstream-analytics-500715-clickstream-dev

# Google credentials (set path to your service account JSON)
GOOGLE_APPLICATION_CREDENTIALS=/Users/kavyasree/Downloads/clickstream-analytics-500715-48cb67b667a9.json
